body{
    font-size: 14px;
    color: #0d0d0d;
}
.home-carousel-item{
    padding: 15% 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    position: relative;
}
.home-carousel .owl-dots{
    position: relative;
    margin-top: -45px!important;
    z-index: 44444;
    margin-bottom: 20px;
}
.home-carousel-item:after,.top-banner:after{
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #011b55;
    opacity: 0.35;
}
.home-carousel,.banner-content  {
    position: relative;
}
.banner-content {
    z-index: 3;
    color: #fff;
}
.banner-content h2{
    font-size: 40px;
}
.page-header{
    padding: 15px 0;
}
.header-panel{
    background-color: #01246c;
    color: #fff;
    padding: 8px 0;
}
.header-panel li a{
    padding-left: 15px;
    text-decoration: none;
}
.header-panel li a{
    color: #fff;
}
.logo{
    max-width: 350px;
    width: 100%;
    padding-right: 50px;
    height: 31px;
}
.slider-content{
    position: relative;
    z-index: 2;
    max-width: 750px;
    margin: 0 auto;
    min-height: 200px;
    padding: 0 25px;
}
.slider-content h2{
    color: #fff;
    font-size: 50px;
}
.header-menu li a{
    color: #0d0d0d;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}
.mobile-menu{
    display: none;
    font-size: 30px;
}
.close-menu{
    display: none;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 18px;
}
footer{
    background: #001134;
    padding: 20px 0;
    color: #fff;
}
iframe{
    vertical-align: top;
}
.center-content{
    padding: 50px 0;
}
.copyright-box{
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.social-icons li span {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    margin: 5px 10px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;

}
.social-icons li span:hover{
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.contact-banner{
    background-image: url("../images/contact.jpg");
}
.top-banner{
    padding: 12% 0;
    background-size: cover;
    background-position: center;
    position: relative;
}