body{
    font-size: 14px;
    color: #0d0d0d;
}
.home-carousel-item{
    padding: 15% 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    position: relative;
}
.home-carousel .owl-dots{
    position: relative;
    margin-top: -45px!important;
    z-index: 44444;
    margin-bottom: 20px;
}
.home-carousel-item:after,.top-banner:after{
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #011b55;
    opacity: 0.35;
}
.home-carousel,.banner-content  {
    position: relative;
}
.banner-content {
    z-index: 3;
    color: #fff;
}
.banner-content h2{
    font-size: 40px;
}
.page-header{
    padding: 15px 0;
}
.header-panel{
    background-color: #01246c;
    color: #fff;
    padding: 8px 0;
}
.header-panel li a{

    text-decoration: none;
}
.header-panel li{
    padding-left: 15px;
}
.header-panel li a{
    color: #fff;
}
.logo{
    max-width: 350px;
    width: 100%;
    padding-right: 50px;
    height: 31px;
}
.slider-content{
    position: relative;
    z-index: 2;
    max-width: 750px;
    margin: 0 auto;
    min-height: 200px;
    padding: 0 25px;
}
.slider-content h2{
    color: #fff;
    font-size: 50px;
}
.header-menu li a{
    color: #0d0d0d;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}
.mobile-menu{
    display: none;
    font-size: 30px;
}
.close-menu{
    display: none;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 18px;
}
footer{
    background: #001134;
    padding: 20px 0;
    color: #fff;
}
iframe{
    vertical-align: top;
}
.center-content{
    padding: 50px 0;
}
.copyright-box{
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.social-icons li span {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    margin: 5px 10px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.contact-social-icons li span{
    display: inline-block;
    font-size: 20px;
    color: #fff;
    background-color: rgba(1, 36, 108, 1);
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    margin: 5px 10px 5px 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.contact-social-icons li span:hover{
    display: inline-block;
    font-size: 20px;
    color: #fff;
    background-color: rgba(1, 36, 108, 0.9);
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    margin: 5px 10px 5px 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.social-icons li span:hover{
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.contact-banner{
    background-image: url("../images/contact.jpg");
}
.top-banner{
    padding: 12% 0;
    background-size: cover;
    background-position: center;
    position: relative;
}
.contact-page-info li,.contact-page-info li a{
    color: #0d0d0d;
    font-size: 16px;
    text-decoration: none;
}
.service-bg{
    padding-top: 50%;
    background-size: cover;
}
.service1{
     background: url("../images/service1.jpg") center no-repeat;
    background-size: cover;
 }
.service2{
    background: url("../images/service2.jpeg") center no-repeat;
    background-size: cover;
}
.service3{
    background: url("../images/service3.jpg") center no-repeat;
    background-size: cover;
}
.service4{
    background: url("../images/service4.jpg") center no-repeat;
    background-size: cover;
}
.service5{
    background: url("../images/service5.jpg") center no-repeat;
    background-size: cover;
}
.service6{
    background: url("../images/service6.jpg") center no-repeat;
    background-size: cover;
}
.service-block{
    -webkit-box-shadow: rgb(226 235 255) 1px 1px 31px 0;
    -moz-box-shadow: rgb(226 235 255) 1px 1px 31px 0;
    box-shadow: rgb(226 235 255) 1px 1px 31px 0;
    background: #fff;
    padding: 15px 15px 20px 15px;
    height: 100%;
}
.service-text{
    margin-top: 15px;
}
.service-text h3{
    font-size: 20px;
    color: #01246c;
}
.blue-line{
    position: relative;
}
.blue-line:after{
    content: " ";
    position: absolute;
    bottom: -10px;
    height: 4px;
    width: 70px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background: rgb(229, 32, 21);
    border-radius: 5px;
}
.button-custom{
    background: #023cb2;
    color: #fff;
    display: table;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-decoration: none;

}
.fixed-icons{
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 10;

}
.fixed-icons .whatsapp{
    display: inline-block;
    padding: 5px;
    background: #00e676;
}
.fixed-icons a{
    margin: 0 5px;
}
.call-phone{
    display: inline-block;
    padding: 12px;
    background: #01246c;
}
.call-phone img{
    width: 25px;
}